page-contact {
    ion-content {
        background-color: $background_global !important;
    }
    @mixin calc($property, $expression) {
        #{$property}: -webkit-calc(#{$expression});
        #{$property}:    -moz-calc(#{$expression});
        #{$property}:         calc(#{$expression});
    }
	.header-main {
		background-color: black !important;
	}
	
    ion-card-content{
        overflow: scroll; 
        height: 220px; 
    }
	.header-btn{
		margin-left: -35px !important;
		color: #FFF !important;
	}
	.color-txt{
		color: #FFF !important;
    }

}
