
<ion-header>

  <ion-navbar>
      <ion-buttons right>
          <button (click)="cancel()" ion-button> close</button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content [ngStyle]="{'background-color': coloring}" padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
</ion-refresher-content>
</ion-refresher>

    <ion-fab right bottom>
        <button (click)="addComment()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
   
      </ion-fab>

      <!-- BELOW IS THE NORMAL WAY OF HAVING THE COMMENTS, I HAD A NEWER ONE BELOW IT BUT I CAN COME BACK TO THIS IF THE NEWER ONE ISNT COOL-->
<!-- <div *ngFor="let comment of comments" class="comment">
  <div>
    <img src="https://openclipart.org/download/57877/penguin.svg" alt="Avatar" style="width:30px; height: 50px;">
  </div>

  <div class="nested">
    <div>{{comment.created_at.date}}</div>
  <div class="user">
   {{comment.user.name}}
  </div>
  
  <div [innerHTML]="comment.content" class="content">
  <img src="../../assets/imgs/happy.png" width="10px" height="10px">
  </div>
</div>
</div> -->




<ion-list>

  <ion-list-header>Comments</ion-list-header>

  <div style="background: white;">
  <ion-item *ngFor="let comment of comments">
    <ion-avatar item-start>
      <img src="https://openclipart.org/download/57877/penguin.svg">
    </ion-avatar>
    <h2 style="font-size: 0.9em ; font-weight: bolder;">{{comment.user.name}}</h2>
    <pre dir="auto" [innerHTML]="comment.content"></pre>
    <ion-note >{{fixDates(comment.created_at.date)}}</ion-note>
  </ion-item>
</div>
</ion-list>

</ion-content>
